<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Question 테이블의 list를 출력하는 view 페이지</h1>
	<hr>
	<table>
		<tr>
		<th>제목</th>
		<th>작성일시</th>
		</tr>
		
		<!-- 방법1. -->
		<!-- 타임리프를 사용해서 루프 돌린후 출력-->
		<!-- -- 모델 변수에 담긴 questionList  -->
		<!--
		<tr th:each = "question:${questionList}">
			<td>
				<a th:href="@{|/question/detail/${question.id}|}" th:text = "${question.subject}"></a>
			</td>
			<td th:text = "${question.createDate}"></td>
		</tr>
-->
	 		<!-- 타임리프 문법 
	 		1. @{} : 링크를 처리
	 		2. th : 
	 		3. | String + 변수 | : 문자열과 변수를 연결
	 		4. ${} : 서버의 변수를 처리? -->
	 		
	 		
	 <!-- 방법2.	 -->
		 <tr th:each = "question:${questionList}">
			<td><a th:href="@{|/question/detail/${question.id}|}">[[${question.subject}]]</a></td>
			<td>[[${question.createDate}]]</td>
		</tr>
		
	</table>
</body>
</html>